

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID#</th>
            <th>Name</th>
           
        </tr>
    </thead>
    <tbody> 
   <tr *ngFor= "let supplier of suppliers | slice: (page-1) * 20 : (page-1) * 20 + 20" >
            <td>{{supplier.supplierid}}</td>
            <td>{{supplier.suppliername}}</td>
            <td class="text-right" id="tableDataBtns">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </div>
            </td>
        </tr>
    </tbody>
</table>

<ngb-pagination class="center" [collectionSize]="40" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>