

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>ID#</th>
            <th>Name</th>
            <th>Availability</th>
            <th>Category</th>
            <th>Full Price<i id ="asc-desc1" class="fas fa-arrow-down" (click)="SortPrice($event)"></i></th>
            <th>Sale Price<i id ="asc-desc1" class="fas fa-arrow-down" (click)="SortPrice($event)"></i></th>
            <th>Supplier</th>
        </tr>
    </thead>
    <tbody> 
   <tr *ngFor= "let product of products | slice: (page-1) * 20 : (page-1) * 20 + 20" >
            <td>{{product.id}}</td>
            <td>{{product.productName}}</td>
            <td>{{product.availability}}</td>
            <td>{{product.category.categoryName}}</td>
            <td>{{product.fullPrice | currency:'USD'}}</td>
            <td>{{product.salePrice | currency: 'USD'}}</td>
            <td>{{product.supplier.suppliername}}</td>
            <td class="text-right" id="tableDataBtns">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-secondary"><i class="far fa-edit"></i></button>
                    <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                </div>
            </td>
        </tr>

        </tbody>
        </table>

            <!-- Pagination -->
            <ngb-pagination class="center" [collectionSize]="350" [(page)]="page" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
        
        
